.map {
  width: 80vw;
  height: 60vh;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.mapWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.nearest-button {
  position: absolute;
  top: 15px;
  right: 15px;
  @media (max-width: 600px) {
    right: 25px;
  }
}
