.comment-section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 901px) {
    margin-bottom: 32px;
  }
}
.comment-input {
  margin-top: 20px;
  width: 100%;
}
